* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0 solid;
    font-family: "Robot", sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.blue {
    color: rgb(31, 138, 238);
}

.input__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__input--cl {
    border: 2px rgba(28, 149, 158, 0.363) solid;
    border-radius: 4px;
    padding-right: 100ch;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.main__btn {
    padding: 16px 24px;
    background-color: rgba(11, 153, 189, 0.322);
    border-radius: 4px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}